

.line{
    width: 70hw;
}

.image{
    height: 300px;
    margin: 4px;
    margin-left: 35px;
}

.flex{
    display: flex;
}

.container{
    width: 60vw;
    /* border: 1px solid black; */
    margin-left: 35px;

}

.contactInfo{
    margin-top: 5vw;
}

.technologies{
    font-weight: 900;
    margin-top: 35px;
}

.techHolder{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.tech{
    margin: 8px;
}

.techimg{
   width: 50px;
}

.icon{
    font-size: 30px;
    margin: 15px;
    color: black;
}

.icon:hover{
    color: rgb(61, 61, 132);
}

@media screen and (max-width: 813px) {
    .flex{
        display: grid;
    }

    .container{
        width: 75vw;
    }
}