.container{
    display: grid;
    margin: 7px;
    border: 1px solid rgb(110, 108, 108);
    background-color: #d2d2d5;
    padding: 10px;
}



.nameImage{
   width: 300px;
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 300px;
}

.descriptionHolder{
    width: 300px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.finalHolder{
    display: flex;
    align-items: end;
    justify-content: end;
}