.container{
    padding: 0;
    display: flex;
    color: #1D0508;
    justify-content: start;
}

.sidebar{
    display: block;
    height: 100vh;
    margin-right: 2vw;
    background-color: #292285;
    /* padding-left: 5px; */
    transition: all 0.4s ease;
    position: fixed;
    top: 0%;
    z-index: 2;
}

.topSection{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.topSection h2{
    margin-right: 7px;
}

.section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: #1D0508;
}

.section:hover{
    background-color: #2859D2;
    color:#393838;
}

.section h2{
    margin-left: 4px;
}

.icon{
    cursor: pointer;
    margin-top: 5px;
}

.component{
    display: flex;
    justify-content: flex-end;
    top: 0%;
    /* border: 1px solid black; */
    padding-left: 65px;
    height: 100vh
}

.close{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 50%;
    z-index: 1;
    cursor: pointer;
}